body {
    background-color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 940px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.container h1 {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.container h2 {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.parrafo {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 22.5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-size: 0.7rem;
}

.casilla input {
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 300px;
        height: auto;
    }

    .etiologia {
        display: none;
    }
}